img {

	width:400px;
	border-radius: 50px;
	border: 5px solid brown;
	allign-content:center;
	justify-content: center;

}

body {
	text-align: center; 
	background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDE5LXguanBn.jpg);
});
}

h1 {
		text-align: center;
		color:solid golid
	}
